.project {
    color: white;
    text-align: center;
    background: url(../images/parralax.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;

    &:hover &__inner {
        background-color: rgba(192, 48, 28, 0.6);
    }

    &__inner {
        background-color: transparent;
        padding: 100px 0;
        transition: all .2s ease-out;
    }

    &__text {
        font-size: 30px;
        padding-bottom: 1.5em;
    }

    &__btn {
        font-size: 18px;
        color: white;
        border: 2px white solid;
        border-radius: 2px;
        text-transform: uppercase;
        transition: all 0.2s ease;
        padding: 18px 27px;
        background: none;
        cursor: pointer;

        &:hover {
            color: $main-color;
            background-color: white;
            border-color: $main-color;
        }
    }
}


@media only screen and (max-width: 768px) {

    .project__inner {
        background-color: rgba(192, 48, 28, 0.6);

        &__inner {
            background-color: transparent;
            padding: 50px 0;
        }
    }
}